.programas_container_text {
  font-family: 'Jockey One';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 56px;
  display: flex;
  align-items: center;

  color: #ff3b56;

  text-shadow: 2px 2px 1px rgba(0, 214, 242, 0.5);
}
.program_container {
  margin-bottom: 20px;
  background: #fffdfd;
  border: 3px solid #ff3b56;
  box-shadow: 3px 3px 1px #00d6f2;
  border-radius: 20px;
  max-width: 200px;
  margin-top: 10px;
  margin-left: 10px;
  padding: 3px;
}
.program_title_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.program_container_if_not_first {
  margin-left: 25px;
}
.image-cover {
  object-fit: fill;
  border-radius: 15px;
}
.program_text_container {
  padding-left: 5px;
  padding-top: 5px;
}
.program_description {
  font-family: 'Jockey One';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 15px;
  align-items: center;

  color: rgba(0, 0, 0, 0.25);
}
.program_title {
  font-family: 'Jockey One';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  color: #000000;
}
.icon-box {
  display: inline-block; /* to place boxes side-by-side */
  background: #ff3b56;
  border-radius: 8px;
  height: 25px; /* adjust as needed */
  width: 25px; /* adjust as needed */
  filter: drop-shadow(1px 1px 1px #00d6f2);
  margin-left: 12px;
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white; /* adjust icon color as needed */
  /* any other styling for the icons */
}
@media only screen and (max-width: 768px) {
  .program_title {
    display: none;
  }
  .program_description {
    display: none;
  }
  .program_container_if_not_first {
    margin-left: 25px;
  }
  .program_container {
    margin-bottom: 20px;
    border-radius: 20px;
    margin-top: 10px;
    margin-left: 10px;
    padding: 3px;
  }
  .programas_container_text {
    font-size: 25px;

    display: flex;
  }
}
