.programas_container_text {
  font-family: 'Jockey One';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 56px;
  display: flex;
  align-items: center;
  color: #ff3b56;
  text-shadow: 2px 2px 1px rgba(0, 214, 242, 0.5);
}
.program_container:hover {
  background: #fffdfd;
  box-shadow: 3px 3px 1px#ff3b56;
}
.program_container:active {
  transform: translateX(2px);
  transform: translate(2px);
  box-shadow: 1px 1px 1px #b62a3d;
}
.program_slider {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  overflow-y: hidden;
  scroll-behavior: smooth;
  max-height: 500px;
  max-width: 1300px;
}
.program_slider::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
.program_slider::-webkit-scrollbar-thumb {
  background: #ff3b56;
  border-radius: 2px;
}
.program_container {
  margin-bottom: 20px;
  background: #fffdfd;
  border: 3px solid #ff3b56;
  box-shadow: 3px 3px 1px #00d6f2;
  border-radius: 20px;
  max-width: 200px;
  margin-top: 10px;
  margin-left: 10px;
  padding: 3px;
}
.program_container_if_not_first {
  margin-left: 25px;
}
.program_title_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.image-cover {
  object-fit: fill;
  border-radius: 15px;
  max-height: 200px;
}
.program_text_container {
  padding-left: 5px;
  padding-top: 5px;
}
.program_description {
  font-family: 'Jockey One';
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  line-height: 15px;
  align-items: center;

  color: rgba(0, 0, 0, 0.25);
}

.program_title {
  font-family: 'Jockey One';
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 15px;
  color: #000000;
}
@media only screen and (max-width: 2300px) {
  .program_slider {
    max-height: 540px;
    max-width: 1300px;
  }
  .program_container {
    background: #fffdfd;
    border: 5px solid #ff3b56;
    box-shadow: 5px 5px 1px #00d6f2;
  }
  .program_container_if_not_first {
    margin-left: 0px;
  }
  .program_container:hover {
    box-shadow: 5px 5px 1px#ff3b56;
  }
  .program_container:active {
    transform: translateX(4px);
    transform: translate(4px);
    box-shadow: 1px 1px 1px #b62a3d;
  }
  .program_title {
    font-size: 15px;
  }
  .program_description {
    font-size: 12px;
    padding-top: 5px;
    padding-bottom: 15px;
  }
}
@media only screen and (max-width: 1900px) {
  .program_slider {
    max-height: 300px;
    max-width: 800px;
  }
  .program_container {
    background: #fffdfd;
    border: 3px solid #ff3b56;
    box-shadow: 3px 3px 1px #00d6f2;
  }
  .program_container_if_not_first {
    margin-left: 0px;
  }
  .program_container:hover {
    box-shadow: 3px 3px 1px#ff3b56;
  }
  .program_container:active {
    transform: translateX(2px);
    transform: translate(2px);
    box-shadow: 1px 1px 1px #b62a3d;
  }
  .program_title {
    font-size: 12px;
  }
  .program_description {
    font-size: 10px;
    padding-top: 3px;
    padding-bottom: 10px;
  }
}
@media only screen and (max-width: 1024px) {
  .program_slider {
    max-height: 240px;
    max-width: 500px;
  }
  .program_slider {
    max-height: 200px;
    max-width: 800px;
  }
  .program_container {
    background: #fffdfd;
    border: 3px solid #ff3b56;
    box-shadow: 3px 3px 1px #00d6f2;
  }
  .program_container_if_not_first {
    margin-left: 0px;
  }
  .program_container:hover {
    box-shadow: 3px 3px 1px#ff3b56;
  }
  .program_container:active {
    transform: translateX(2px);
    transform: translate(2px);
    box-shadow: 1px 1px 1px #b62a3d;
  }
  .program_title {
    display: none;
  }
  .program_description {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  .program_container_if_not_first {
    margin-left: 15px;
  }
  .program_slider {
    max-height: 240px;
    max-width: 700px;
  }
  .program_description {
    font-size: 12px;
    padding-top: 5px;
    padding-bottom: 15px;
  }
  .program_slider::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  }
  .image-cover {
    max-height: 140px;
  }
  .program_title {
    display: none;
  }
  .program_description {
    display: none;
  }
}
@media only screen and (max-width: 545px) {
  .program_slider {
    max-height: 240px;
    max-width: 500px;
  }
  .program_description {
    font-size: 12px;
    padding-top: 5px;
    padding-bottom: 15px;
  }
  .image-cover {
    max-height: 90px;
  }
  .program_title {
    display: none;
  }
  .program_description {
    display: none;
  }
  .program_container_if_not_first {
    margin-left: 25px;
  }
  .program_container {
    margin-bottom: 20px;
    border-radius: 20px;
    max-width: 100px;
    margin-top: 10px;
    margin-left: 10px;
    padding: 3px;
  }
  .programas_container_text {
    font-size: 30px;

    display: flex;
  }
}
@media only screen and (max-width: 320px) {
  .programas_container_text {
    font-size: 22px;

    display: flex;
  }
}
