.scoial_main_container {
  padding-top: 25px;
  padding-left: 12px;
  padding-right: 12px;
}
.social_icon-box {
  display: inline-block; /* to place boxes side-by-side */
  background: #00d6f2;
  border-radius: 12px;
  height: 43px; /* adjust as needed */
  width: 43px; /* adjust as needed */
  margin: 3px;
}
.social_icon-box:hover {
  background: white;
}

.social_icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.social_icon {
  font-size: 23px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ff3b56; /* adjust icon color as needed */
  /* any other styling for the icons */
}
@media only screen and (max-width: 2800px) {
  .social_icon {
    font-size: 53px;
  }
  .social_icon-box {
    border-radius: 20px;
    height: 73px; /* adjust as needed */
    width: 73px; /* adjust as needed */
    margin: 6px;
  }
  .scoial_main_container {
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 12px;
  }
}
@media only screen and (max-width: 2300px) {
  .social_icon {
    font-size: 30px;
  }
  .social_icon-box {
    display: inline-block; /* to place boxes side-by-side */
    background: #00d6f2;
    border-radius: 15px;
    height: 53px; /* adjust as needed */
    width: 53px; /* adjust as needed */
    margin: 3px;
  }
  .scoial_main_container {
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 12px;
  }
}
@media only screen and (max-width: 1900px) {
  .social_icon {
    font-size: 25px;
  }
  .social_icon-box {
    display: inline-block; /* to place boxes side-by-side */
    background: #00d6f2;
    border-radius: 12px;
    height: 45px; /* adjust as needed */
    width: 45px; /* adjust as needed */
    margin: 3px;
  }
  .scoial_main_container {
    padding-top: 25px;
    padding-left: 20px;
    padding-right: 12px;
  }
}
@media only screen and (max-width: 1024px) {
  .social_icon {
    font-size: 31px;
  }
  .social_icon-box {
    display: inline-block; /* to place boxes side-by-side */
    background: #00d6f2;
    border-radius: 12px;
    height: 43px; /* adjust as needed */
    width: 43px; /* adjust as needed */
    margin: 3px;
  }
  .scoial_main_container {
    padding-top: 25px;
    padding-left: 12px;
    padding-right: 12px;
  }
}
@media only screen and (max-width: 768px) {
  .scoial_main_container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0px;
    padding-left: 0px;
  }
  .social_icon {
    font-size: 22px;
  }
}

@media only screen and (max-width: 425px) {
  .social_icon {
    font-size: 20px;
  }
  .scoial_main_container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0px;
    padding-left: 0px;
  }
  .social_icon-box {
    height: 35px; /* adjust as needed */
    width: 35px; /* adjust as needed */
    margin: 3px;
  }
}
