@font-face {
  font-family: 'Jockey One';
  src: url('../public/fonts/JockeyOne-Regular.ttf');
}
.navbar {
  font-family: 'Jockey One', sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  margin: 20px 40px;
  margin-top: 24px;
}

.logo img {
  height: 53px;
}

.nav-links {
  font-family: 'Jockey One', sans-serif;
  display: flex;
  justify-content: start;
  width: 100%;
  padding: 10px;
  list-style: none;
}

.nav-links li a {
  color: white;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
  padding-left: 32px;
}

.nav-links li a:hover {
  color: #ff3b56;
}

.login a {
  color: #333;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  border: 2px solid #333;
  border-radius: 5px;
}

.login a:hover {
  color: #fff;
  background-color: #333;
}
.navbar_mobile {
  display: none;
  font-family: 'Jockey One', sans-serif;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  margin: 0px 40px;
  margin-top: 24px;
}
.logo_mobile img {
  height: 53px;
}
.toggle_icon:hover {
  color: #ff3b56;
}
.toggle_icon {
  color: white;
}

.toggle_content {
  width: 100%;
  overflow: hidden;
  background-color: transparent;
  -webkit-transition: height 0.5s ease-in-out;
  -moz-transition: height 0.5s ease-in-out;
  -o-transition: height 0.5s ease-in-out;
  transition: height 0.5s ease-in-out;
}
.nav-links_mobile {
  font-family: 'Jockey One', sans-serif;
  display: block;
  justify-content: start;
  width: 100%;
  padding: 10px;
  list-style: none;
}
.nav-links_mobile li a {
  color: white;
  opacity: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
  padding-left: 32px;
  transition: opacity 0s ease-in;
}
.nav-links_mobile li a:hover {
  color: #ff3b56;
}
.navbar_mobile_content {
  display: none;
}
@media only screen and (max-width: 768px) {
  .navbar_mobile {
    display: flex;
  }
  .navbar {
    display: none;
  }
  .navbar_mobile_content {
    display: block;
  }
}
