.border {
  filter: drop-shadow(3px 3px 1px #00d6f2);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(sddefault.jpg);
  border: 3px solid #ffffff;
  border-radius: 20px;
}
.container_main {
  margin: 20px 32px;
}
@media only screen and (max-width: 768px) {
  .container_main {
    margin: 20px 10px;
  }
}
