@font-face {
  font-family: 'Jockey One';
  src: url('../public/fonts/JockeyOne-Regular.ttf');
}
:root {
  position: relative;
  background-image: url('../public/Back.jpg');
  background-size: cover;
}

/* :root::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.55);
} */
