.sponsors_container {
  width: 100%;
}
.sponsors_container_2 {
  display: flex;
  margin-top: 10px;
  width: 100%;
}
.left_column {
  display: flex;
  flex-grow: 1;
  width: 50%;
  flex-direction: column;
}
.right_column {
  display: flex;
  width: 50%;
  flex-direction: column;
  flex-grow: 1;
}

@media only screen and (max-width: 1024px) {
  .sponsors_container_2 {
    flex-direction: column;
  }
  .left_column {
    width: 100%;
  }
  .right_column {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
}
